div[class^="col-"] {
  border: #17a2b8 solid 1px;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem; }

table.xdebug-error {
  color: #212529; }

/*# sourceMappingURL=style-dev.css.map */
