@import "darkly/variables";
@import "bootstrap/bootstrap";
@import "darkly/bootswatch";

body {
  padding-top: 4rem;
}

label {
  width: 100%;
}

input {
  display: block;
  width: 100%;
}

hr {
  margin-top: .2rem;
  margin-bottom: .2rem;
}

.navbar {
  padding: 0.5rem;
  > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

.row + .row {
  margin-top: 1rem;
}

.admin-menu {
  background-color: #f8f9fa;
}

.responsive-player-container {
  position: relative;
  overflow: hidden;
  width: 100%;

  .responsive-player {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
  }
}