<?= $this->doctype() ?>

<html lang="en">
<head>
    <meta charset="utf-8">
    <?= $this->headTitle('Random fail!')
             ->setSeparator(' - ')
             ->setAutoEscape(false) ?>

    <?= $this->headMeta()
             ->appendName('viewport', 'width=device-width, initial-scale=1.0')
             ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <?php if (getenv('APPLICATION_ENV') === 'development') : ?>
        <!-- Le styles -->
        <?= $this->headLink(
            [
                'rel'  => 'shortcut icon',
                'type' => 'image/vnd.microsoft.icon',
                'href' => $this->basePath() . '/img/favicon.ico',
            ]
        )
                 ->appendStylesheet($this->basePath('css/font-awesome/fa-svg-with-js.css'))
                 ->appendStylesheet($this->basePath('css/style.css'))
                 ->appendStylesheet($this->basePath('css/style-dev.css'))
        ?>

        <!-- Scripts -->
        <?= $this->headScript()
                 ->appendFile($this->basePath('js/jquery/jquery-3.3.1.js'))
                 ->appendFile($this->basePath('js/bootstrap/bootstrap.bundle.js'))
                 ->appendFile($this->basePath('js/font-awesome/fontawesome-all.js'))
        ?>

    <?php else : ?>

        <!-- Le styles -->
        <?= $this->headLink(
            [
                'rel'  => 'shortcut icon',
                'type' => 'image/vnd.microsoft.icon',
                'href' => $this->basePath() . '/img/favicon.ico',
            ]
        )
                 ->appendStylesheet($this->basePath('css/font-awesome/fa-svg-with-js.min.css'))
                 ->appendStylesheet($this->basePath('css/style.css'))
        ?>

        <!-- Scripts -->
        <?= $this->headScript()
                 ->prependFile($this->basePath('js/font-awesome/fontawesome-all.min.js'))
                 ->prependFile($this->basePath('js/bootstrap/bootstrap.bundle.min.js'))
                 ->prependFile($this->basePath('js/jquery/jquery-3.3.1.min.js'))
        ?>
    <?php endif ?>
</head>
<body>
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="<?= $this->url('home') ?>">
            Crazy Eights!
        </a>
    </div>
</nav>

<main class="container">
    <div class="row">
        <div class="col-12">
            <?= $this->content ?>
        </div>
    </div>
</main>

<?= $this->inlineScript() ?>
</body>
</html>
