<?php
/** @var array $suits */
/** @var \Home\Entity\Player[] $players */
/** @var \Doctrine\Common\Collections\ArrayCollection|\Home\Entity\Card $afterDealing */
?>
<div class="row">
    <?php foreach ($suits as $suit) : ?>
        <div class="col-3">
            <p>
                <?php foreach ($suit as $card) : ?>
                    <?php /** @var \Home\Entity\Card $card */ ?>
                    <?= $card ?> -
                    <?= $card->fullName() ?>
                    <br/>
                <?php endforeach ?>
            </p>
        </div>
    <?php endforeach ?>
</div>

<div class="row">
    <div class="col-6">
        <h5>Hands after ending game</h5>
        <?php foreach ($players as $player) : ?>
            <p>
                <?= $player ?> - Hand:
                <?php foreach ($player->getCards() as $card) : ?>
                    <?= $card ?>
                    <?php if ($card !== $player->getCards()->last()) : ?>
                        <?= ', ' ?>
                    <?php endif ?>
                <?php endforeach ?>
            </p>
        <?php endforeach ?>
    </div>
    <div class="col-6">
        <h5>After dealing draw pile:</h5>
        <p>
            <?php foreach ($afterDealing as $card) : ?>
                <?= $card ?>
                <?php if ($card !== $player->getCards()->last()) : ?>
                    <?= ', ' ?>
                <?php endif ?>
            <?php endforeach ?>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h4>Game start</h4>
        <ol>
            <li>Start card: <?= $startCard ?></li>
            <?php foreach ($moves as $move) : ?>
                <li><?= $move ?></li>
            <?php endforeach ?>
        </ol>
    </div>
</div>